{% extends "super_admin/base.html" %}
{% block content %}
{% load static %}


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <img     style="width: 55%;" src="{% static 'database.jpg' %}">
        </div>
        <div class="col-md-12">
          <center>
            <a href="backup" style="    background: #62d06b;
            color: white;
            padding: 10px 44px;
            border-radius: 5px;">Download</a>
          </center>
        </div>
    
      
       

        </div>
        </div>

{% endblock %}